.Header{
    background-color: black;
    height: 36px;
    padding: 8px 32px 8px 32px;
}

.LoginButton{
    float: right;
}

.Logo{
    animation: LogoSpin infinite 8s linear;
    height: 35px;
    background: #ff7f7f;
}

@keyframes LogoSpin {
    from { transform: scaleX(-1); }
}

.tabs{
    margin-bottom: 20px;
}

.displayNone{
    display: none;
}

.displayBlock {
    display: block;
}

.red{
    color: red;
}
